
<%- include("../partials/navbar")%>
<body>
    <div class="container my-5 ">
    <%worlds.forEach(world =>{%>
        <div class="d-flex my-5">
            <img src="<%=world.thumbnailImageUrl%>" alt="">
                <div class="m-5">
                <h4><%=world.name%></h4>
                <p>Author : <%=world.authorName%></p>   
                <p>Favorites : <%=world.favorites%></p>
                <p>Popularity : <%=world.popularity%></p>
                <p>Published Date : <%=world.publicationDate%></p>
                <a href="/<%=world.id%>"><p>More info</p></a>
                </div>
        </div>
    <%})%>
    </div>

</body>
</html>