<%-include("../partials/navbar")%>

<div class="border border-primary rounded-3 worldBg" style="margin-top:50px"  >
    <div class="d-flex m-5" >
        <img src="<%=world.thumbnailImageUrl%>" alt="">
            <div class="m-5">
            <h4><%=world.name%></h4>
            <p>Author : <%=world.authorName%></p> 
            <p>Description : <%=world.description%></p>  
            <p>Favorites : <%=world.favorites%></p>
            <p>Popularity : <%=world.popularity%></p>
            </div>
    </div>

    <div class="m-5">
    <p>Comments</p> 
    
    <form action="<%=world.id%>/comments" method="POST">
        <input type="text" name="comment" id="Comment" required>
        <button>Add comment</button>
     </form>
    </div>
    
    <div class="m-5">
    <%comments.forEach(comment =>{%>
       <div class="d-flex"> 
        <div class="commentSection">
        <p><%=comment.date.toDateString()%></p>
        <p><%=comment.comment%></p>
       </div>

        <div class="dropdown mx-5">
            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
              
            </button>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
              <li>
                <form class=" text-center" action="<%=comment.id%>/comments?_method=DELETE" method="POST">
                <button class="dropdown-item">Delete Comment</button>
                </form>
             </li>

             <form class="drop-down-item text-center" action="<%=comment.id%>/comments?_method=PUT" method="POST">
                <input type="text"name="comment" class="bg-dark border border-none border-dark text-light text-center" placeholder="Edit Comment" required>
                <button class="dropdown-item">Apply</button>
                </form>
             
             
                  
            </ul>
        </div>
        </div>

            
           

        
        
        
    <%})%>
    </div>
   

</div>
