<%-include("../partials/navbar")%>

<div class="border border-secondary rounded-3 worldBg transition-fade fade-in" id="swup">
    <div class="worldSection d-block d-xl-flex" >
        <div >
            <img src="<%=world.thumbnailImageUrl%>" alt="">
            <div class="ratingSection my-5 d-flex flex-column">
                <div>
                    Rating (<%=ratingNumber%>) : 
                    <% if (rating > 0){%>
                        <span class="fa fa-star 1 checked"></span>
                    <%}else{%>
                        <span class="fa fa-star 1"></span>
                    <%}%>

                    <% if (rating>1){%>
                        <span class="fa fa-star 1 checked"></span>
                    <%}else{%>
                        <span class="fa fa-star 1"></span>
                    <%}%>

                    <% if (rating>2){%>
                        <span class="fa fa-star 1 checked"></span>
                    <%}else{%>
                        <span class="fa fa-star 1"></span>
                    <%}%>

                    <% if (rating>3){%>
                        <span class="fa fa-star 1 checked"></span>
                    <%}else{%>
                        <span class="fa fa-star 1"></span>
                    <%}%>

                    <% if (rating>4){%>
                        <span class="fa fa-star 1 checked"></span>
                    <%}else{%>
                        <span class="fa fa-star 1"></span>
                    <%}%>

                </div>
                <% if (user){%>
                            <div class="txt-center my-2">
                                <div>
                                    <p class=" m-0 ">Your Rating :</p>                  
                                    <%if (!visited){%>
                                    <form action="<%=world.id%>/rating" method="POST">
                                        <div class="rating ">
                                            <input id="star5" name="rating" type="radio" value="5" class=" radio-btn hide" />
                                            <label for="star5">☆</label>
                                            <input id="star4" name="rating" type="radio" value="4" class="radio-btn hide" />
                                            <label for="star4">☆</label>
                                            <input id="star3" name="rating" type="radio" value="3" class="radio-btn hide" />
                                            <label for="star3">☆</label>
                                            <input id="star2" name="rating" type="radio" value="2" class="radio-btn hide" />
                                            <label for="star2">☆</label>
                                            <input id="star1" name="rating" type="radio" value="1" class="radio-btn hide" />
                                            <label for="star1">☆</label>
                                            <div class="clear"></div>
                                        </div>
                                        <button class="my-1 button">rate</button>
                                    </form>
                                <%}else{%>
                                    <form action="<%=world.id%>/rating?_method=PUT" method="POST">
                                        <div class="rating ">
                                            <input id="star5" name="rating" type="radio" value="5" class=" radio-btn hide" />
                                            <label for="star5">☆</label>
                                            <input id="star4" name="rating" type="radio" value="4" class="radio-btn hide" />
                                            <label for="star4">☆</label>
                                            <input id="star3" name="rating" type="radio" value="3" class="radio-btn hide" />
                                            <label for="star3">☆</label>
                                            <input id="star2" name="rating" type="radio" value="2" class="radio-btn hide" />
                                            <label for="star2">☆</label>
                                            <input id="star1" name="rating" type="radio" value="1" class="radio-btn hide" />
                                            <label for="star1">☆</label>
                                            <div class="clear"></div>
                                        </div>
                                        <button class="my-1 button">Update</button>
                                    </form>
                                    <form  class="my-2"action="<%=world.id%>/rating?_method=DELETE" method="POST">
                                    <button class="button">Remove</button>
                                </form>
                                <%}%>
                                </div>
                            </div>
                        <%}%>
            </div>
        </div>
        <div>
        <div class="mx-5">
            <h3 class="display-4 "><%=world.name%></h3>
            <hr/>
            <p class="lead">Author :<%=world.authorName%></p> 
            <p class="description">Description : <%=world.description%> </p>  
            <p>Favorites : <%=world.favorites%></p>
            <p>Popularity : <%=world.popularity%></p>
            <%if (user){%>
            <form action="favorites/<%=world.id%>/" method="POST">
                <button class="button">Add to <br> My Favorites</button>
            </form>
        <%}%>
        </div>
        
            <div class="mx-5 pb-4"><hr/>
                <p class="lead">Comments</p> 
                <%if(user){%>
                
                <form action="<%=world.id%>/comments" method="POST">
                    <input type="text" name="comment" id="Comment" placeholder="Let us know what you think!" required>
                    <button class="button">Post</button>
                </form>
                <%}%>
                </div>
                
                
                <div class="my-3">
                    <div class="Overflow overflow-auto">
                <%comments.forEach(comment =>{%>
                <div class="d-flex justify-content-between"> 
                    <%if(user){%>
                        <div class="commentSection mx-5">
                    <%}else{%>
                        <div class="commentSection ">
                    <%}%>
                    <div>
                        <div class="d-flex align-items-end">
                        <p class="lead m-0 pe-3"><%=comment.userName%></p>
                        <p class="m-0"><%=comment.date.toDateString()%></p>
                        </div>
                        <p><%=comment.comment%></p>
                    </div>
                    <hr/>
                    
                </div>

                <%if(user){%>
                    <%if(comment.userId === user.id){%>
                    <div class="dropdown mx-5">
                        <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
                        
                        </button>
                        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
                        <li>
                            <form class=" text-center" action="<%=comment.id%>/comments?_method=DELETE" method="POST">
                            <button class="dropdown-item">Delete Comment</button>
                            </form>
                        </li>

                        <form class="drop-down-item text-center" action="<%=comment.id%>/comments?_method=PUT" method="POST">
                            <input type="text"name="comment" class="bg-dark border border-none border-dark text-light text-center" placeholder="Edit Comment" required>
                            <button class="dropdown-item">Apply</button>
                            </form>
                            </ul>
                            <%}%>
                            </div>
                        <%}%>   
                    </div>  
                <%})%>
                </div>
            </div>
            </div>
    </div>

    <%images.forEach(image =>{%>
        <img src="<%=image.imageLink%>" alt="">
    <%})%>

    <%if(user){%>
    <form action="/upload/<%=world.id%>" method="POST" enctype="multipart/form-data">
        <input type="file" name='image'>
        <button class="button">Post Picture</button>
      </form>
    <%}%>
 </div>
</div>


    
